 <!-- footer -->
 <div class="footer">
    <div class="footer1 foot1">
        <div class="footer11">

            <div class="logo"><a href="/">minto<span>Speed</span></a></div>

            <div class="about_div">
                <p>Get fresh groceries products, vegetable, fruits and everyday essentials delivered straight to your door. Just place order in mintoSpeed. A Fastest delivery service that running in your city.</p>
                <p>Don't wait just Order!</p>
            </div>
        </div>
    </div>
    <div class="footer2 foot1">
        <div class="footer21">
            <h4>Our Services</h4>
            <ul class="footer2_ul">
                <li><a href="javascript:void(0)">Groceries Delivery</a></li>
                <li><a href="javascript:void(0)">Veggies Delivery</a></li>
                <li><a href="javascript:void(0)">Fruits Delivery</a></li>
                <li><a href="javascript:void(0)">Plant Selling</a></li>
                <li><a href="javascript:void(0)">Pooja Items</a></li>
                <li><a href="javascript:void(0)">Many more</a></li>
            </ul>
        </div>
    </div>
    <div class="footer2 foot2">
        <div class="footer21">
            <h4>Quick Links</h4>
            <ul class="footer2_ul">
                <li><a href="/c/terms-and-conditions">Terms&nbsp;&&nbsp;Conditions</a></li>
                <li><a href="/c/privacy-policy">Privacy&nbsp;Policy</a></li>
                <li><a href="/track">Track&nbsp;Service</a></li>
                <li><a href="/c/contact">Contact us</a></li>
                <li><a href="/c/about-us">About&nbsp;Us</a></li>
                <li><a href="/auth">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>

            </ul>
        </div>
    </div>
    <div class="footer2 foot2">
        <div class="footer21">
            <h4>Contact Us</h4>
            <ul class="footer2_ul">
                
                <li><a href="/complaint"><span
                            class="footer_li_span">Complaint&nbsp;:</span><span class="footerCB">Click here</span></a></li>
                <li><a href="/feedback"><span
                            class="footer_li_span">Feedback&nbsp;:</span><span class="footerCB">Click here</span></a></li>
                <li><a href="Mailto:help.mintospeed@gmail.com"><span
                            class="footer_li_span">Mail&nbsp;:</span>help.mintospeed@gmail.com</a></li>
                <li><a href="tel:918601065457"><span
                            class="footer_li_span">Phone&nbsp;:</span>+91&nbsp;8601065457</a>
                </li>
                <li><a href="https://wa.me/8601065457?text=Hello"><span
                            class="footer_li_span">Whatsapp&nbsp;:</span>+91&nbsp;8601065457</a></li>
                
            </ul>
            <div class="ss_link">
                <a href="https://www.instagram.com/mintospeed.in?utm_source=qr&igsh=OTh6M2thNHBkMmUw" target="_blank"><span
                    class="ss_span"><i id="logoinsta" class="fa-brands fa-instagram"></i></span></a>
    
                <a href="https://x.com/_mintoSpeed" target="_blank"><span class="ss_span"><i
                    id="logofb" class="fa-brands fa-x-twitter"></i></span></a>

                <a href="https://www.linkedin.com/company/mintospeed/"
                    target="_blank"><span class="ss_span"><i id="logofb"
                            class="fa-brands fa-linkedin"></i></span></a>
                
                </div>
        </div>
    </div>
</div>
<div class="c_line">
    <p>Copyright &#169; 2025. All Right Reserve by <span>mintoSpeed</span>
    </p>
</div>

<style>
    div.footer {
        margin-top: 70px;
        padding: 10px 20px 60px 20px;
        display: flex;
        height: fit-content;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: rgb(66 90 76);
    }
    div.c_line {
        margin: 0;
        padding: 5px 15px;
        text-align: center;
        background-color: #354b3b;
    }

    .foot1,
    .foot2 {
        padding-top: 70px;
    }

    .flogo::after {
        position: absolute;
        color: rgb(212, 212, 212);
        content: "Repairing & Services";
        font-size: 13px;
        left: 7px;
        bottom: -25px;
        font-weight: 500;
    }

    .about_div {
        width: 300px;
        margin-top: 40px;
        border-top: 2px solid rgb(154, 154, 154);
    }

    .about_div>p {
        color: rgb(224, 224, 224);
        padding-top: 10px;
        font-size: 15px;
        line-height: 1.5;
        letter-spacing: 0.4px;
    }

    .footer21 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer21>h4 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 8px;
        color: rgb(255, 255, 255);
        padding-bottom: 12px;
        border-bottom: 2px solid rgb(154, 154, 154);
    }

    div.footer11 {
        display: block;
        text-align: center;
    }

    div.footer2 {
        display: flex;
        justify-content: space-around;
    }

    .footer2_ul>li {
        padding-top: 7px;
    }

    .footer2_ul>li>a {
        font-size: 14px;
        color: rgb(231, 231, 231);
    }

    .footerCB{
        color: rgb(192 192 255);
        text-decoration: underline;
    }

    .footer2_ul>li>a:hover {
        color: rgb(14, 196, 57);
    }

    .footer_li_span {
        font-size: 14px;
        margin-right: 10px;
        color: rgb(188, 188, 188);
    }

    .ss_link {
        margin-top: 30px;
        display: flex;
        justify-content: left;
    }

    .ss_link>a {
        margin-right: 10px;
        padding: 3px;
    }

    .ss_span>i {
        font-size: 25px;
        color: white;
    }

    

    .c_line>p {
        color: rgb(239, 245, 252);
        font-size: 13px;
    }

    @media screen and (max-width: 550px) {
        .flogo::after {
            font-size: 12px;
            left: 3px;
            bottom: -25px;
        }
    }
</style>