
<div class="parent-container" style="width: 100%; height: 220px; position: relative; overflow: hidden; display: flex; justify-content: center; align-items: center;">

    <div class="coupon-card" style="transform: scale(0.8); text-align: center; padding: 10px; width: 188px; height: 240px; background-image: url('../images/rest.jpeg'); background-size: cover; background-position: center; border-radius: 15px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); overflow: hidden; color: white; position: relative; transform-origin: center;">
        <div class="coupon-content" style="background-color: rgba(0, 0, 0, 0.5); position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 10px; display: flex; justify-content: center; align-items: center; padding: 3px;">
            <div style="width: 100%; height: 100%;">
                <p class="discount" style="margin-top: 10px; margin-bottom: 8px;   font-size: 20px; font-weight: 700; color: #f9f8f6;"><%-discount%> OFF</p>
                <p style="  font-size: 9px;">ON ANY DISHES IN</p>
                <h2 class="coupan-head" style="font-size: 15px; font-weight: bold; margin-bottom: 10px; margin-top: 7px; color: rgb(236, 235, 233);  ">Atulyam Restaurant</h2>
                <p class="address" style="font-size: 10px; line-height: 1.3; margin-bottom: 8px;  ">1/235 MIG, Awas Vikas Colony, Near Laal Chauk Jhunsi, Prayagraj, UP</p>
                <p class="special-item" style="font-size: 10px; line-height: 1.3; margin-bottom: 8px;">•Fine dining •Main Course •Outdoor Catering</p>
                
                <p style="margin: 15px 0 0; font-size: 10px;  ">Coupan code : <%-coupanCode%></p>
                <p style=" color: rgb(239, 226, 226); font-size: 10px;  ">Expire on : <%-expireTime%></p>
            </div>
        </div>
    </div>
</div>
